body {
    /* Inter font  */
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    /* Merriweather font */
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

/* header section  */
.header-background {
    background: linear-gradient(180deg,
            #070211 0%,
            rgba(7, 2, 17, 0.00) 100%),
        url('../resources/Banner\ Image.png') no-repeat;
    /* width: 1230px; */
    height: 600px;
    border-radius: 16px;
    background-size: 100%;
    margin: 50px 140px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: fit-content;

}

.banner {
    color: white;
    text-align: center;

}

.banner>p {
    color: #FFFFFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 117px;
}

.banner>h3 {
    width: 632px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin-top: 20px;
}

/* main section  */

/* 60% OFF section  */
.off {
    margin-top: 120px;
}

.off>h2 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 0;
}

.off>p {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 10px;
}

.off>h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
}

.happy-new-year {
    display: flex;
    justify-content: center;
    height: 500px;
    /* margin: 0 399px ; */
}

/* Welcome to midnight party section */
.welcome-background {
    background: linear-gradient(90deg,
            #070211 0%,
            rgba(7, 2, 17, 0.00) 100%),
        url('../resources/Vectorrr.png') no-repeat;
    display: flex;
    justify-content: center;
    background-size: cover;
    height: 550px;
    margin: 120px 140px 0;
    border-radius: 10px;

}

.Welcome-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-details {
    width: 700px;
    padding: 126px 0 142px 55px;
}

.welcome-details>h3 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 60px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 620px;
    margin-top: 10px;
    margin-bottom: 0;
}

.welcome-details>p {
    width: 645px;
    color: #FFFFFFCC;
    font-family: Inter;
    font-size: 16.5px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 0;
}

.welcome-details>button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    border: none;
    padding-left: 32px;
    margin-top: 48px;
}

.year-section {
    width: 300px;
    display: flex;
    width: 319.83px;
    height: 464.662px;

}

/* New Park Hotel section */
.new-park-hotel {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    height: 440px;
    margin: 120px 140px;
    align-items: center;
    border-radius: 10px;
    /* border: 1px solid; */
}

.new-park-hotel-details {
    margin-top: -15px;
}

.place-date-time>span {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
}

.place-date-time {
    display: block;
    justify-content: center;
    text-align: center;
    color: #070211;
    ;
    font-family: Inter;
    font-size: 30px;
    font-weight: 550;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 10px;

}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.btn button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 8px;
    background: #F00;
    border: none;
    display: inline-flex;
    padding: 16px 32px;
    font-weight: 600;
}

/* coming soon section */
.coming-soon-section {
    display: flex;
    height: 463px;
    justify-content: space-between;
    align-items: center;
    margin: 120px 140px 0;
    /* border: 1px solid; */
}

.left-section {
    /* width: 400px; */
    margin-top: 104px;
}

.new-best {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;

}

.coming-soon {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-top: 0;
    margin-left: -65px;
}

.coming-soon-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    width: 393px;


}

.right-section {
    /* width: 276px; */
    margin-right: -5px;
    margin-top: 112px;
}

.right-section>h3 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.right-section>p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
}

.right-section>img {
    width: 140px;
    height: 140px;
    margin-top: 43px;
}

.middle-section {
    width: 440px;
    border-radius: 440px;
    border: 15px solid #F00;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 160px 0 40px;
}

.middle-section>img {
    display: flex;
    justify-content: center;
    width: 365px;
    margin: 40px;
}

/* holidays sale 50% section */
.holiday-section {
    margin: 120px 140px;
}

.sale-section {
    margin-bottom: 64px;
}

.what {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;

}

.sale-section>h3 span {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-right: 20px;
}

.sale-section>h3 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    margin-top: 0;
    text-align: center;
    margin-bottom: 0;
}

.holiday-description {
    display: flex;
    justify-content: center;
    margin-top: 28px;

}

.holiday-description>p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}

.discount-img {
    background: url('../resources/Rectangle\ 2.png'), url('../resources/Rectangle\ 1.png');
    background-repeat: no-repeat;
    background-position: bottom right, right 0;
    background-size: 1320px 229px, 400px 438px;
    border-radius: 10px;
    height: 650px;

}

.bimage>.image-one {
    width: 206.841px;
    height: 206.841px;
    padding: 110px 290px 0 0;
    margin-left: 0;
}

.bimage>.image-two {
    width: 710px;
    display: block;
    padding-left: 50px;
    margin-top: 40px;
    margin-right: -40px;
}


.bimage {
    display: flex;
    justify-content: right;

}

/* Our Awesome Portfolio section */

.best-gift-section {
    margin: 0 140px 120px;
}

.best-gift-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 8px;
}

.awesome-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 8px;
    margin-bottom: 11px;
}

.awesome-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 896px;
    margin-top: 11px;
    margin-bottom: 36px;
}

.row-one,
.row-two {
    display: flex;
    justify-content: space-between;
}

.best-gift-images img {
    width: 400px;
    height: 400px;
    border-radius: 16px;
    margin: 12px 12px 12px 12px;
}

/* Subscribe Newsletter section */
.subscribe-section {
    display: flex;
    justify-content: center;
    height: 600px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 0px 140px 120px;
    text-align: center;
    padding: 0px 212px;
    align-items: center;
}

.email-img {
    display: flex;
    justify-content: center;
}

.email-img>img {
    width: 150px;
    height: 150px;
    margin-bottom: 20;
}

.subscribe-details>h3 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 20px 0 11px;
}

.subscribe-details>p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 896px;
    margin: 11px 0 24px;

}

.inputs-section {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.inputs-section>input {
    width: 438px;
    height: 72px;
    border-radius: 50px 0 0 50px;
    background: #FFF;
    border: none;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding-left: 30px;

}

.inputs-section>button {
    width: 210px;
    height: 74px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    border: none;
}